.App {
  text-align: center;
}

.btn_grp{
  margin-left: 5%;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: 120px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.btn{
  display: flex;
  align-items: flex-end;
}
.btn_name{
  margin: 0;
}







